<form method="post" enctype="multipart/form-data" action="/file-upload">
  <input type="text" name="username">
  <input type="password" name="password">
  <input type="file" name="thumbnail">
  <input type="submit">
</form> 

<img src="http://bcs.duapp.com/test1-db/139761337799.jpg" />